body {
  max-width: 380px;
  max-width: 375px;
  margin: auto;
  background: #ddd;
  text-align: center ;
}

header{
  background-image: url(../img/background.svg) ;
  background-size: cover;
  padding: 40px;
  border-top: 5px solid #060E17;
}
main {
  background: #57BB6B
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-title {
padding-left: 50px ;
padding-right: 50px ;
padding-top: 10px;
background: #ffffffCE;
text-align: center;
margin-bottom: 30px;
}
.slogan{
  color: #57BB6B;
  font-size: 20px;
}
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta{
  display: flex;
  color: #ffffff;
  background: #57BB6B;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 13px;
  justify-content: center
}
.cta-contact {
  display: flex;
  color: #57BB6B;
  background: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 13px;
  margin-top: 20px;
}
.section-light {
    padding: 40px;
    text-align: center;
    background: #ffffff;
}
.card-banane {
  color: #060E17;
  background: #FFF8D7;
  padding: 40px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgb(70, 70, 70);
}
.card-kiwi {
  color: #000000;
  background: #C4F2AD;
  padding: 40px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgb(70, 70, 70);
}
.card-fraise {
  color: #000000;
  background: #F7A4B4;
  padding: 40px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgb(70, 70, 70);
}
.card-café {
  color: #000000;
  background: #D3C6B2;
  padding: 40px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgb(70, 70, 70);
}

h2{
  color: #ffffff;
  font-family:'maven pro';
}
.section-light h2 {
  color: #000000;
  font-family:'maven pro';
}
h3{
  font-family: 'sriracha';
  width: 100%;
  font-size: 30px;
}
div{
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
}
  display: block;
  max-width: 100%;
}
